{
    "database":{
        "url" : "localhost",
        "username" : "admin",
        "password" : "admin",
        "database_name" : "timeline",
        "migrate"  : "true",


    },
    "defaults":{
        "adminUser": {
            "username":"admin",
            "password":"admin"
        }
    }
}